.vscode/*
Onion.Dtos/bin/*
Onion.Dtos/obj/*
Onion.Entities/bin/*
Onion.Entities/obj/*
Onion.Repositories/bin/*
Onion.Repositories/obj/*
Onion.Services/bin/*
Onion.Services/obj/*
Onion.UseCases/bin/*
Onion.UseCases/obj/*
Clients/Mvc/bin/*
Clients/Mvc/obj/*
*.dll
*.pdb
*.cache
*.props
Onion\.Constants/bin/
Onion\.Constants/obj/
Tests/Onion\.Entities\.Tests/bin/
Tests/Onion\.Entities\.Tests/obj/
Clients/Mvc/bin/
Clients/Mvc/obj/
Onion\.UseCases/bin/
